<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script> 
    </head>
<body>
    <h1 class="text-center">FHIR-WORKS HR-System</h1>
    <div class="container">
    <form>
        <div class="row">
            <div class="form-group">
            <label for="exampleInputEmail1">From Date:</label>
            <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">              
        </div>
        </div>
        <div class="row">
          <div class="form-group">
            <label for="exampleInputPassword1">To Date:</label>
            <input type="date" class="form-control" id="exampleInputPassword1">
          </div>
        </div>
        <div class="row">
            <div class="form-group">
              <label for="exampleInputPassword1">Staff Id:</label>
              <input type="input" class="form-control" id="exampleInputPassword1">
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>



